@font-face {
	font-family: "theSerifItalic";
	src: url(fonts/TheSerif_B4_Italic.eot),
		 url(fonts/TheSerif_B4_Italic.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "theSerif";
	src: url(fonts/TheSerif_B4_Plain_.eot),
		 url(fonts/TheSerif_B4_Plain_.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "theSerif";
	src: url(fonts/TheSerif_B4_Bold_.eot),
		 url(fonts/TheSerif_B4_Bold_.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}
body {
	background-color: #ddd;
	margin: 0;
	padding: 0;
	font-family: "theSerif";
	font-size: 0.79em;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
}
a {
	text-decoration: none;
	font-weight: normal;
	color: #2c7bb5;
}
h2:not(:first-child) {
	margin-top: 3em;
}
p {
	margin: 0;
	padding: 0;
}
pre {
	background-color: #f6f8fa;
	padding: 10px;
}
ul {
	padding: 0;
}
#container {
	width: 900px;
	min-height: 900px;
	margin: 0 auto;
	background-color: #fff;
}
#ribbon {
	width: 900px;
	background-color: #1d517e;
	background: linear-gradient(to bottom, #003b6e, #1d517e);
}
#ribbon ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#ribbon ul.left {
	float: left;
}
#ribbon ul.right {
	float: right;
}
.clear {
	clear: both;
}
#ribbon ul li {
	display: inline-block;
	list-style: none;
	padding: 6px 10px 5px 10px;
	background-color: rgba(0, 0, 0, 0.12)
}
#ribbon ul.left li {
	border-right: 1px solid #1a1a1a;
}
#ribbon ul.right li {
	border-left: 1px solid #1a1a1a;
}
#ribbon ul li.highlight {
	background: #000;
	font-weight: bold;
}
#ribbon ul li a {
	color: #b2b2b2;
}
#ribbon ul li.highlight a {
	color: #fff;
}
#header {
	width: 900px;
	height: 106px;
	margin-bottom: 30px;
	overflow: hidden;
	background: #0c2033 url(../img/processing-web.png) center center no-repeat;
	background-position: bottom;
	background-size: 900px 106px;
	position: relative;
}
#header h1 {
	color: #fff;
	position: absolute;
	font-size: 2.5em;
	left: 30px;
	top: 26px;
	margin: 0;
	padding: 0;
}
#nav {
	position: sticky;
	width: 140px;
	float: left;
	top: 0px;
	padding: 0 20px 0 30px;
}
#content {
	margin-left: 190px;
	margin-right: 100px;
	padding-bottom: 50px;
}
.colone-alt {
	width: 285px;
	float: left;
	margin-right: 40px;
}
.twocol-alt {
	width: 285px;
	float: left;
}