.footer {
  line-height: 24px;
  color: #959595;
  border-top: 1px solid #CCC;

  a {
    text-decoration: none;
    font-weight: normal;
    color: #959595;
    border-bottom: 1px solid #CECECE;
  }
}
