body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //line-height: $global-lineheight;
  color: $color-text;
  background: $global-background;
  scroll-behavior: smooth;
  //border-top: 3px solid $theme-color;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: block;
  width: 100%;
  height: 106px;
  margin-bottom: 30px;
  overflow: hidden;
  background: #0c2033 url(../img/processing-web.jpg) center center no-repeat;
  background-position: bottom;
  position: relative;

  @media (max-width: $sm) {
    height: 45px;
    margin-bottom: 30px;
    background-position: top;
  }

  a {
    font-family: 'theSerif', 'Enriqueta', georgia, times, sans-serif;
    text-decoration: none;
    border: none;
    color: white;
  }

  h1 {
    position: absolute;
    font-size: 2.5em;
    left: 30px;
    top: 34px;
    margin: 0;
    padding: 0;

    @media (max-width: $sm) {
      font-size: 1.5em;
      left: 30px;
      top: 5px;
    }
  }
}

.main-wrapper {
  flex: 1 0 auto;
  display: flex;
  @include clearfix;

  .nav-container {
    width: 200px;
    order: -1;
    overflow: auto;


    //border-right: 1px solid rgba(0, 0, 0, .1);

    .menu {
      display: block;
      position: relative;

      .menu-item {
        display: block;
        width: 100%;
      }
    }
  }

  .middle {
    min-width: 0;
    width: 100%;
    //height: 100%;
    padding: 0 15px;
    margin: 0;
    display: flex;
    //flex-grow: 1;
    flex: 1;
    overflow-x: hidden;
    position: relative;
    left: 0;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: auto;
    //padding: $global-container-padding;
  }

  .aside-container {
    width: 280px;
    overflow-y: auto;
    padding: 0 15px;

    //padding: 20px;
  }
}

@include breakpoint(sm) {
  .main-wrapper{
    flex-direction: column;

    .nav-container, .aside-container{
      width: 100%;
      position: relative;
    }
  }
}

@include breakpoint(768px) {
  .main-wrapper{
    .nav-container {
      @supports (position: sticky) {
        position: sticky;
        top: 20px;
        z-index: 1080;
        height: calc(100vh - 60px);
      }
    }

    .aside-container{
      @supports (position: sticky) {
        position: sticky;
        top: 20px;
        height: calc(100vh - 60px);
        overflow-y: auto;
      }
    }
  }
}

.footer {
  clear: both;
  padding: 40px 30px 20px 30px;

  //line-height: 23px;
  //color: #959595;
}
