.ribbon {
  height: auto;
  background-color: #1d517e;
  background: linear-gradient(to bottom, #003b6e, #1d517e);

  ul li.highlight a {
    color: white;
    font-weight: bold;
  }

  ul li a {
    color: #b2b2b2;
  }

  ul li {
    display: inline-block;
    margin: 0;
    padding: 6px 10px 5px 10px;
    list-style: none;
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.12);

    @media (max-width: $sm) {
      font-size: 12px;
      padding: 3px 5px 2px 5px;
    }
  }
  ul.left li {
    float: left;
    border-right: 1px solid #1a1a1a;
  }

  ul.right li {
    float: right;
    border-left: 1px solid #1a1a1a;

    @media (max-width: $sm) {
      float: left;
    }
  }

  ul li.highlight {
    background-color: black;
    border-right: none;
  }
  ul.left {
    float: left;
  }

  ul.right {
    float: right;
    @media (max-width: $sm) {
      float: left;
    }
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .clear {
    clear: both;
  }
}

.nav-container {
  list-style: none;
  text-align: left;
  background: #FFF;
  margin: 0;
  padding: 0;

  .menu {
    padding: 0;
    margin: 0;
    font-family: $text-font-family;

    .menu-item {
      &:hover {
        border-left: 5px #CCC solid;
        //background-color: #CCC;
      }

      //& + .menu-item {
      //  margin-left: $menu-item-margin-left;
      //}

      //@include underline-from-center;
    }

    .menu-item-link {
      padding: 0 30px;
      color: $color-link;
      font-size: $font-size;
      line-height: $base-line-big;
    }
  }
}

.post-toc {
  word-wrap: break-word;
  box-sizing: border-box;

  .post-toc-title {
    margin-bottom: 0;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .post-toc-content {
    font-size: 14px;

    &.always-active ul {
      display: block;
    }

    >nav>ul {
      margin: 10px 0;
    }

    ul {
      padding-left: 5px;
      list-style: square;

      ul {
        display: none;
        margin-left: 10px;
      }

      .has-active > ul {
        display: block;
      }
    }

    .toc-link.active {
      color: #FF69B4;
    }
  }
}

