.post {
  max-width: 740px;
}

.post-content {

  //> table {
  //  max-width: 100%;
  //  margin: 10px 0;
  //  border-spacing: 0;
  //  box-shadow: 2px 2px 3px rgba(0,0,0,.125);
  //
  //  thead {
  //    background: $color-aluminum;
  //  }
  //
  //  th, td {
  //    padding: 5px 15px;
  //    border: 1px double $color-darkgray;
  //  }
  //
  //  tr:hover {
  //    background-color: $color-aluminum;
  //  }
  //}
}
