<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
  {{ partial "head.html" . }}
</head>
<body>

  {{ if not .Params.hideHeaderAndFooter -}}
  <header id="header" class="header">
    <div class="logo-wrapper">
      <a href="{{ "/" | relLangURL }}" class="logo">
      {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
      {{- else -}}
      {{ .Site.Title }}
      {{- end -}}
      </a>
    </div>
  </header>
  {{- end }}

  <div class="main-wrapper">
    <div class="middle">
      {{ block "content" . }}{{ end }}
    </div>
    <nav class="nav-container">
      <ul id="nav-menu" class="menu">
        {{ range .Site.Menus.main -}}
        <li class="menu-item">
          <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </nav>
    <nav class="aside-container">
      <div>Aside content here</div>
    </nav>
  </div>

  {{ if not .Params.hideHeaderAndFooter -}}
  <footer id="footer" class="footer">
    <div class="copyright">
      <span class="copyright-year">
            {{- $current := now.Format "2006" }}
            &copy;
              {{ if ne .Site.Params.since $current }}
                {{ .Site.Params.since }} -
              {{ end }}
            {{- $current }}
            <span class="author">{{if .Site.Copyright }}{{ .Site.Copyright | safeHTML }}{{ else }}{{ "Processing Foundation" | safeHTML }}{{ end }}</span>
            </span>
    </div>
  </footer>
  {{- end }}

  {{ partial "scripts.html" . }}
</body>
</html>
