<!-- js -->
<script src="{{ "lib/highlight/highlight.pack.js?v=20171001" | relURL }}"></script>

<script type="text/javascript" src="{{ "lib/jquery/jquery-3.2.1.min.js" | relURL }}"></script>

<script type="text/javascript" src="{{ "lib/lazyload/lazyload.min.js" | relURL }}"></script>

<script type="text/javascript" src="{{ "dist/processing-theme.min.js?v=3.1.2" | relURL }}"></script>

<!-- Analytics -->
{{- if .Site.GoogleAnalytics -}}
{{ template "_internal/google_analytics_async.html" . }}
{{- end -}}

<!-- custom js -->
{{ range .Site.Params.customJS }}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}
