/*
	Based on Kube CSS & JS Framework (https://github.com/imperavi/kube)
*/

// Font family: theSerif
@font-face {
  font-family: 'theSerif';
  src: url('../fonts/theserif/theSerif-regular.eot');
  src: local('theSerif'), url('../fonts/theserif/theSerif-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/theserif/theSerif-regular.woff') format('woff'),
  url('../fonts/theserif/theSerif-regular.ttf') format('truetype'),
  url('../fonts/theserif/theSerif-regular.svg#theSerif') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "variables";
@import "mixins";
@import "components";