body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //line-height: $global-lineheight;
  color: $color-text;
  background: $global-background;
  scroll-behavior: smooth;
  //border-top: 3px solid $theme-color;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: block;
  width: 100%;
  height: 106px;
  margin-bottom: 30px;
  overflow: hidden;
  background: #0c2033 url(../img/processing-web.jpg) center center no-repeat;
  background-position: bottom;
  position: relative;
}

.main-wrapper {
  flex: 1 0 auto;
  display: flex;
  @include clearfix;

  .nav-container {
    width: 300px;
    order: -1;

    //@supports (position: sticky) {
    //  position: sticky;
    //  top: 20px;
    //  z-index: 1000;
    //  height: calc(100vh - 80px);
    //}
    //border-right: 1px solid rgba(0, 0, 0, .1);

    .menu {
      display: block;
      position: relative;

      .menu-item {
        display: block;
        width: 100%;
      }
    }
  }

  .middle {
    min-width: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

    display: flex;
    //flex-grow: 1;
    flex: 1;
    overflow-x: hidden;
    position: relative;
    left: 0;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-y: auto;
    //padding: $global-container-padding;
  }

  .aside-container {
    width: 280px;
    overflow: hidden;
    @supports (position: sticky) {
      position: sticky;
      top: 20px;
      height: calc(100vh - 80px);
      overflow-y: auto;
    }
    //padding: 20px;
  }
}

@include breakpoint(sm) {
  .main-wrapper{
    flex-direction: column;

    .nav-container, .aside-container{
      width: 100%;
    }
  }
}

.footer {
  width: 100%;
  display: block;
  background-color: #CCC;
  height: 40px;
}
