{{ define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end }}

{{ define "content"}}

<h1>Tutorials</h1>

<div class="row gutters tutorial-list">
  <div class="col col-4 tutorial-item">
    <div class="cover">
      <a href="#" class="cover-link"></a>
      <img style="width:100%;" src="IMG_1769.JPG" alt="">
      <div class="meta-overlay">
        <p>Some more description appears here really really long description goes here and it is quite a long text</p>
      </div>
    </div>

    <div class="meta">
      <h2 class="monospace small">Visual Synthesizer</h2>
      <p class="small author monospace">by: Maks Surguy</p>
    </div>
  </div>

  <div class="col col-4 tutorial-item">
    <div class="cover">
      <a href="#" class="cover-link"></a>
      <img style="width:100%;" src="IMG_1769.JPG" alt="">
      <div class="meta-overlay">
        <p>Some more description appears here really really long description goes here and it is quite a long text</p>
      </div>
    </div>

    <div class="meta">
      <h2 class="monospace small">Visual Synthesizer</h2>
      <p class="small author monospace">by: Maks Surguy</p>
    </div>
  </div>

  <div class="col col-4 tutorial-item">
    <div class="cover">
      <a href="#" class="cover-link"></a>
      <img style="width:100%;" src="IMG_1769.JPG" alt="">
      <div class="meta-overlay">
        <p>Some more description appears here really really long description goes here and it is quite a long text</p>
      </div>
    </div>

    <div class="meta">
      <h2 class="monospace small">Visual Synthesizer</h2>
      <p class="small author monospace">by: Maks Surguy</p>
    </div>
  </div>

  <div class="col col-4 tutorial-item">
    <div class="cover">
      <a href="#" class="cover-link"></a>
      <img style="width:100%;" src="IMG_1769.JPG" alt="">
      <div class="meta-overlay">
        <p>Some more description appears here really really long description goes here and it is quite a long text</p>
      </div>
    </div>

    <div class="meta">
      <h2 class="monospace small">Visual Synthesizer</h2>
      <p class="small author monospace">by: Maks Surguy</p>
    </div>
  </div>

  <div class="col col-4 tutorial-item">
    <div class="cover">
      <a href="#" class="cover-link"></a>
      <img style="width:100%;" src="IMG_1769.JPG" alt="">
      <div class="meta-overlay">
        <p>Some more description appears here really really long description goes here and it is quite a long text</p>
      </div>
    </div>

    <div class="meta">
      <h2 class="monospace small">Visual Synthesizer</h2>
      <p class="small author monospace">by: Maks Surguy</p>
    </div>
  </div>

  <div class="col col-4 tutorial-item">
    <div class="cover">
      <a href="#" class="cover-link"></a>
      <img style="width:100%;" src="IMG_1769.JPG" alt="">
      <div class="meta-overlay">
        <p>Some more description appears here really really long description goes here and it is quite a long text</p>
      </div>
    </div>

    <div class="meta">
      <h2 class="monospace small">Visual Synthesizer</h2>
      <p class="small author monospace">by: Maks Surguy</p>
    </div>
  </div>

  <div class="col col-4 tutorial-item">
    <div class="cover">
      <a href="#" class="cover-link"></a>
      <img style="width:100%;" src="IMG_1769.JPG" alt="">
      <div class="meta-overlay">
        <p>Some more description appears here really really long description goes here and it is quite a long text</p>
      </div>
    </div>

    <div class="meta">
      <h2 class="monospace small">Visual Synthesizer</h2>
      <p class="small author monospace">by: Maks Surguy</p>
    </div>
  </div>

</div>

{{ end }}