{{ define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end }}

{{ define "content"}}

<h1>Tutorials</h1>

<div class="row tutorial-list">
  <div class="col col-4 tutorial-item">
    <img style="width:100%;" src="250x180.png" alt="">
    <div class="meta">
      <p>title of the tutorial</p>
      <p class="author">Maks Surguy</p>
      <p class="tags">
        <span class="label outline">Default</span> <span class="label outline">Default</span> <span class="label outline">Default</span>
      </p>
    </div>
  </div>
</div>

{{ end }}