{{ define "content" -}}
<article class="post">
  <h1>{{ .Title }}</h1>
  <div class="post-meta">
    <span class="post-time" title="Updated on {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}">Published: {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} by: {{ if .Params.author }}{{ .Params.author | safeHTML }}{{ else }}{{ .Site.Author.name | safeHTML }}{{ end }}</span>
    {{ with .Params.tags -}}
    <div class="post-tags">
      {{ range . }}
      <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/"><span class="label"> {{ . }}</span></a>
      {{ end }}
  </div>

  </div>
  {{- end }}

  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{- end }}
